body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100w;
    height: 100vh;
}

header {
    
    background-size: none;
    text-align: center;
    color: white;
    padding: 45px;  
}

h1 {
    font-size: 45px; 
}

p {
    font-size: 18px;
    margin: 20px 0;
   
}

.container {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    
}

footer {
    width: 150%;
    background-color: white;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    padding: 0;
}

.footer .nav {
    width: 18vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
}

.footer .social-media figure {
    margin: 0;
    
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    
}

header {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    color: #007BFF;

}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    background-color: lightskyblue;
}

button {
   
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; 
    
}

main {
    padding: 60px;
    border-radius: 20px;
}

.footer {
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.footer .nav {
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 15vh;
           
    }

.footer .social-media figure {
    margin: 0;
    
}

body {
    width: 100vw;
    height: 60vh;
    margin: 0;
    background-color: #222;
}

.navigation {
    width: 100%;
    height: 70%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation .nav-icon {
    margin-bottom: auto;
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

.navigation .heading {
    font-size: 5rem;
    margin: 0;
}


.content {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 32px;
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
}

.content .card {
    grid-column: auto / span 2;
    color: #fff;
}

.content .card img {
    width: 100%;
}

.content .card h2 {
    margin: 0;
    margin-top: 10px;
    
}

.content .card button {
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}







    
